/* Header.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #292727;
  height: 60px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  width: 80px;
  height: 50px;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  padding-left: 30px;
  margin-top: 15px;

  filter: drop-shadow(15px 12px 8px rgba(0, 0, 0, 0.25));
  background: url('assets/menu.svg') center center no-repeat;
}
/*test*/
.profile-icon {
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  cursor: pointer;

  padding-right: 30px;

  background: url('assets/avatar.svg') center center no-repeat;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .search {
    display: none;
  }

  .icon {
    display: none;
  }
}

.search {
  height: 40px;
  outline: none;
  border: none;
  width: 800px;
  vertical-align: middle;

  border-radius: 44px;
  background: #E7E6E6;
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.25) inset;
}

.icon {
  /* width: 80px;
  width: 80px; */
  position: relative;
  left: -1.8em;
  cursor: pointer;

}