.swiper-container {
  width: 1500px;
  /* Ширина карусели */
  margin: 0 auto;
  /* Центрирование по горизонтали */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  /* Ширина карточки */
  height: 100px;
  /* Высота карточки */
}

.image-container img {
  max-width: 100%;
  /* Изображение не будет превышать размер карточки */
  max-height: 100%;
  /* Изображение не будет превышать размер карточки */
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .swiper-slide {
      width: 100%;
  }
}
